{% extends 'common/add.html' %}
{% load i18n  static crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block breadcrumbs %}{{ block.super }}{% endblock breadcrumbs %}
{% block actionbuttons %}
    <button type="submit" form="{{ form_id }}" 
        class="btn btn-primary btn-sm" 
        onclick="!this.form && document.getElementById('{{form_id}}').submit">
        <i class="fas fa-save"></i>
    </button>
    <a class="btn btn-danger btn-sm" href="{% url back_url %}"><i class="fas fa-undo"></i></a>
{% endblock actionbuttons %}

{% block card-content %}
   {% crispy form %}
{% endblock card-content %}


